/**
 *
 * file: base.scss
 * author: Grg Babula
 * description: simple base styling
 *
 */

.g5-component-linescore {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 600px;

    * {
        color: #7f8c8d;
        line-height: 1.7em;
        font-size: 18px;
    }

    section {
        padding: 0 0 3em 0;
    }

    dt,
    dd {
        background: #FDFDFD;
        border: 1px solid #F9F9F9;
        border-radius: 2px;
        padding: 1em;
    }

    dd {
        background: none;
    }
}
