/**
 *
 * file: g5-component.scss
 * author: Greg Babula
 * description: core styling for g5-component
 *
 */

.g5-component {
    display: none;
    visibility: hidden;
}

.g5-component--is-visible {
    display: block;
    visibility: visible;
}
