<!--

    Examples Included:

        01) BEM class names
        02) Bootstrap widget (tooltip on game media)
        03) Handlebars helpers (ifAnd)
        04) Handlebars partials (game-media partial)
        05) Data binding, data from the component extender
        06) Extended properties (css, version)

-->

<div class="{{ css }}" data-version="{{ version }}">
    <h3 class="{{ component }}__title">MLB Linescore</h3>

    <dl class="{{ component }}__list">
        <dt class="{{ component }}__key"><strong>Home Team</strong></dt>
        <dd class="{{ component }}__value">{{ game.home_team_name }}</dd>

        <dt class="{{ component }}__key"><strong>Location</strong></dt>
        <dd class="{{ component }}__value">{{ game.location }}</dd>

        <dt class="{{ component }}__key"><strong>Game Date</strong></dt>
        <dd class="{{ component }}__value">{{ game.original_date }}</dd>

        <dt class="{{ component }}__key"><strong>Game Time</strong></dt>
        <dd class="{{ component }}__value">{{ game.time }}PM</dd>

        {{#ifAnd game.game_media game.game_media.media}}
            <dt class="{{ component }}__key"><strong>Game Media</strong></dt>
            <dd class="{{ component }}__value">
                {{#with game.game_media.media}}
                    {{> game-media component=../component }}
                {{/with}}
            </dd>
        {{/ifAnd}}
    </dl>

    <p class="{{ component }}__copyright"><small>{{ copyright }}</small></p>
</div>
