<!--

    Examples Included:

        01) BEM class names
        02) Bootstrap widgets
        03) Handlebars helpers (upcase helper with plain String and variable)
        04) Handlebars partials (button partial example)
        05) Data binding, including variable from component-extender (description)

-->

<h3 class="g5-component--linescore__title">Bootstrap Widget {{ upcase 'Example' }}</h3>

{{> button }}
{{> button }}
{{> button }}

<h3 class="g5-component--linescore__title">Game {{ upcase 'Data' }}</h3>

<section class="g5-component--linescore__linescore">
    {{#if data.game}}
        {{#with data.game}}
            <dl>
                <dt class="g5-component--linescore__key"><strong>Home Team</strong></dt>
                <dd class="g5-component--linescore__value">{{ upcase home_team_name }}</dd>

                <dt class="g5-component--linescore__key"><strong>Location</strong></dt>
                <dd class="g5-component--linescore__value">{{ location }}</dd>

                <dt class="g5-component--linescore__key"><strong>Game Date</strong></dt>
                <dd class="g5-component--linescore__value">{{ original_date }}</dd>

                <dt class="g5-component--linescore__key"><strong>Game Description</strong></dt>
                <dd class="g5-component--linescore__value">{{ description }}</dd>

                <dt class="g5-component--linescore__key"><strong>Game Time</strong></dt>
                <dd class="g5-component--linescore__value">{{ time }}</dd>

                <dt class="g5-component--linescore__key"><strong>Game Media</strong></dt>
                <dd class="g5-component--linescore__value">
                    {{#if game_media.media.thumbnail}}
                        {{#with game_media.media}}
                            <img src="{{ thumbnail }}" class="g5-component--linescore__media" alt="{{ title }}" />
                        {{/with}}
                    {{/if}}
                </dd>
            </dl>
        {{/with}}
    {{/if}}
</section>

<article>
    <small>{{ copyright }}</small>
</article>
